<footer>
    <div class="f-info border-top">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>

        <div class="f-info-brand">
            &copy; Rentora Private Limited
        </div>

        <div class="f-info-links">
            <a href="#">Privacy </a>
            <a href="#"> Terms</a>
        </div>

    </div>

</footer>