<% layout("/layouts/boilerplate.ejs") %>
<h3 class="page-title">All Listings</h3>

<div class="listing-grid">
  <% for(let listing of allListings){ %>
    <a href="/listings/<%=listing._id%>" class="listing-link">
        <div class="listing-card">
            <div class="image-wrapper">
              <img src="<%= listing.image.url %>" alt="listing image">
            </div>

            <div class="card-body">
              <p class="title"><%= listing.title %></p>
              <p class="price">
                &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
              </p>
            </div>
            
        </div>
    </a>
  <% } %>
</div>
